// maps:
//BREAK POINT:
$breakpoint-up:(
    "small": 600px,
    "medium": 900px,
    "large": 1024px,
    "xlarge": 1440px,
);

// BREAKPOINT MEDIA QUERY:
@mixin breakpoints($size){
    @media (min-width: map-get($breakpoint-up, $size)){
        @content;
    }
}

//DISPLAY FLEX
@mixin flexcustomdirection($direction, $justify, $align){
    display: flex !important;
    flex-direction: $direction !important;
    justify-content: $justify !important;
    align-items: $align !important;
}

@mixin fonts{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}