@mixin background($imagepath, $position: 0 0, $repeat: no-repeate){
    background: {
        image: url($imagepath);
        position: $position;
        repeat: $repeat;
    }
}
@mixin flexcustomdirection($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}