
@mixin flexcustomdirection($direction, $justify, $align){
    display: flex;
    flex-direction: $direction !important;
    justify-content: $justify !important;
    align-items: $align !important;
}

@mixin fonts{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Sans Pro', sans-serif;
}