@use '../utils' as util;
html{
    font-size: 100% !important;
    box-sizing: border-box;
    @include util.fonts;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    color: var(--primary-text-color);
}
body{
    margin: 0;
    padding: 0;
    width: auto !important;
}