html{
    font-size: 100% !important;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit !important;
    color: var(--primary-text-color);
}
body{
    // background-color:var(--background-color);
    // background-image: linear-gradient(to bottom, orange, black),url('../../images/successful-fundraiser.jpg');
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}