html{
    font-size: 100% !important;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    color: var(--primary-text-color);
}
body{
    margin: 0;
    padding: 0;
    width: 100vw !important;
}