// Color:
$primary-color: hsl(300, 100%, 16%);
$secondary-color: hsl(0, 0%, 96%);
$tertiary-color: hsl(0, 11%, 18%);

:root{
    --background-color:hsl(300, 100%, 16%);
    --primary-text-color: hsl(0, 0%, 96%);
}

