// Color:
$primary-color: hsl(128, 100%, 3%);
$secondary-color: hsl(0, 0%, 96%);
$tertiary-color: hsl(0, 11%, 18%);

// BUTTON PRIMARY COLOR
$button-primary-color:#008080;

:root {
    // BACKGROUNDS
    --background-color: hsla(0, 100%, 16%, 0.174);
    --nav-background-color: hsl(215, 70%, 16%);
    --footer-background-color: hsl(187, 100%, 16%);

    // TEXT COLORS
    --primary-text-color: hsl(0, 0%, 96%);

    // FONT SIZE
    --large : 3.6rem;
    --medium : 2.4rem;
    --small : 1.2rem;
    --tiny: 1rem;
    // MARGINS
    --large-margin:4rem;
    --medium-medium:2rem;
    --small-mergin: 1rem;


    //PADDINGS
    --padding-small:1rem;
    --padding-medium:2rem;
    --padding-large:4rem; 
}

// FONT WEIGTH:
$normal: 400;
$thick: 600;
$bold: 800;