html {
  font-size: 100% !important;
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit !important;
  color: var(--primary-text-color); }

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0; }

.heading__primary {
  font-size: 2.5rem;
  font-weight: 800; }

.heading__secondary {
  font-size: 2.0rem;
  font-weight: 600; }

.heading__tertiary {
  font-size: 1.5rem;
  font-weight: 400; }

.heading__primary, .heading__secondary, .heading__tertiary {
  margin-top: 0; }

p {
  font-size: 1rem;
  margin-top: 0; }

:root {
  --background-color: hsla(0, 100%, 16%, 0.174);
  --nav-background-color: #0c2344;
  --footer-background-color: hsl(128, 100%, 15%);
  --primary-text-color: hsl(0, 0%, 96%); }

nav {
  background-color: var(--nav-background-color); }

footer {
  background-color: var(--footer-background-color); }
