html {
  font-size: 100% !important;
  box-sizing: border-box; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit !important;
  color: var(--primary-text-color); }

body {
  background-image: linear-gradient(to bottom, rgba(233, 155, 9, 0.829), rgba(0, 0, 0, 0)), url("../images/pexels-pixabay-210600.jpg");
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

.heading__primary {
  font-size: 2.5rem;
  font-weight: 800; }

.heading__secondary {
  font-size: 2.0rem;
  font-weight: 600; }

.heading__tertiary {
  font-size: 1.5rem;
  font-weight: 400; }

.heading__primary, .heading__secondary, .heading__tertiary {
  margin-top: 0; }

p {
  font-size: 1rem;
  margin-top: 0; }

:root {
  --background-color: hsla(0, 100%, 16%, 0.174);
  --nav-background-color: hsl(215, 70%, 16%);
  --footer-background-color: hsl(187, 100%, 16%);
  --primary-text-color: hsl(0, 0%, 96%);
  --section-backgournd-image: '../../images/successful-fundraiser.jpg'
; }

nav {
  background-color: var(--nav-background-color); }

footer {
  background-color: var(--footer-background-color); }

section {
  background: linear-gradient(to bottom, rgba(255, 166, 0, 0.322), black), url("../../images/successful-fundraiser.jpg"); }
