@mixin onescreen {
    display: grid !important;
    grid-template-rows: auto !important;
    row-gap: 4% !important;
}
@mixin twoequalscreens {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    // column-gap: .8%;
    row-gap: 4%;
}