@mixin onescreen {
    display: grid;
    grid-template-rows: auto;
    row-gap: 4%;
}
@mixin twoequalscreens {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    // column-gap: .8%;
    row-gap: 4%;
}