nav {
    width: 100vw;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top:var(--padding-medium) ;
    padding-bottom:var(--padding-medium) ;
    div.navLogo{
        margin-left: var(--small-mergin);
        a{
            text-decoration: none;
        }
    }
    div.menus{
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-right: var(--small-mergin);
        a {
            text-decoration: none;
            font-size: var(--small);
            display: block;
            margin-left: var(--medium-medium);
        }
    }
    
}