nav {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-rows: auto !important;
    padding-top:var(--padding-medium) ;
    padding-bottom:var(--padding-medium) ;
    width: 100vw;
    .navLogo{
       a{
        text-decoration: none;
        font-size: var(--medium);
       } 
    }
    .menus{
        display: none;
        background-color: transparent;
    }
}