nav {
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 2fr 4fr;

    div{

        a {
            text-decoration: none;
            font-size: var(--small);
            display: block;
        }
    }
    
}