@use '../utils/' as util;
@use '../global/' as global;
@use '../layout/' as layout;
.donate{
    height: auto !important;
    overflow: hidden;
    padding: 16% 0;
    div{
        width: 100%;
        margin-inline: auto !important;
        .header{
            position: relative;
            width: 100%;
            margin-bottom: var(--medium-margin);
            // &__top{
            //     position: absolute;
            //     top: 0;
            //     width: 100%;
            //     display: block !important;
            //     height: 4vh !important;
            //     // background-color: var(--nav-background-color);
            // }
            img{
                width: 100% !important;
                height: auto !important;
                display: block;
                margin-inline: auto !important;
                padding-inline: var(--padding-tiny);
            }
            &__bottom {
                // position: absolute;
                // top: -2.8rem !important;
                width: 100%;
                display: block !important;
                height: auto !important;
                // background-color: var(--nav-background-color);
                text-align: start !important;
                font-size: var(--small);
                // padding-top: var(--padding-tiny) !important;
                padding-bottom: var(--padding-medium) !important;
                padding-inline: var(--padding-tiny) !important;
            }
            
        }
        .body{
            position: relative;
            width: 100%;
            margin-bottom: var(--medium-margin);
            padding-inline: var(--padding-tiny);
            .donations{
                @include layout.twoequalscreens;
                margin-bottom: var(--large-margin);
                .values_card{
                    width: 56% !important;
                    height: 12vh !important;
                    background-color: var(--background-color);
                    text-align: center;
                    margin: auto !important;
                    padding: 2.8rem 0 !important;;
                    border-radius: 50% !important;
                    button{
                        background-color: transparent !important;
                        border: none !important;
                        outline: none   !important;
                    }
                }
            }
            form{
                font-size: var(--small);
                div{
                    label{
                        display: inline !important;
                        font-size: var(--small);
                    }
                    input{
                        height: 3vh !important;
                        display: inline-block !important;
                        margin-left: var(--small-mergin) !important;
                        width: 75vw !important;
                        color: #000;
                    }
                    button{
                        background-color: global.$button-primary-color !important;
                        outline: none !important;
                        border: none !important;
                    }
                }
            }
        }
    }
    @include util.breakpoints(medium){
        div{
            width: 60%;
            .header{
                margin-bottom: var(--large-margin);
                &__top{
                    height: 8vh !important;
                }
                // img{
                // }
                &__bottom {
                    height: 12vh !important;
                }
                
            }
        }
        
    }
}