@use '../utils/' as util;
.donate{
    @include util.backgroundwithimage('../images/medium-shot-women-posing-outdoors_23-2148959249.jpg');
    height: 100vh;
    overflow: hidden;
    div{
        width: 70%;
        margin-inline: auto !important;
        .header{
            img{
                height: auto !important;
                width: 30% !important;
            }
        }
    }
}