@use '../utils/' as util;
.donate{
    @include util.backgroundwithimage('../images/medium-shot-women-posing-outdoors_23-2148959249.jpg');
    height: 100vh;
    overflow: hidden;
    padding: 4% 0;
    div{
        width: 60%;
        margin-inline: auto !important;
        background-color: purple;
        .header{
            position: relative;
            width: 100%;
            &__top{
                position: absolute;
                top: 0;
                width: 100%;
                display: block !important;
                height: 8vh !important;
            }
            img{
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}