@use '../utils/' as util;
@use '../global/' as global;

.homepage {
    background-image: linear-gradient(to bottom, #00140ada, #000b2bd4), url('../images/pexels-pixabay-210600(small).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;

    * {
        width: 80%;
        margin-inline: 0 !important;
        margin-bottom: var(--small-mergin);
        line-height: 1.5;
        letter-spacing: 1.2;
        text-align: center !important;
    }

    h1 {
        span {
            display: block;
            font-size: var(--large);
            font-weight: global.$bold;
            @include util.textshadow;
            margin-bottom: var(--large-margin);
        }
    }

    .center {
        @include util.elementcenter(44%, var(--medium));
        text-align: center;
        background-color: global.$button-primary-color;
        text-decoration: none;
        font-weight: global.$bold;
        padding-top: var(--padding-tiny);
        padding-bottom: var(--padding-tiny);
        margin-top: var(--medium-margin);
        border-radius: .4rem;
        @include util.boxshadow;
    }

    @include util.breakpoints(large) {
        * {
            text-align: end !important;
        }

        .center {
            @include util.elementcenter(16%, var(--small));
            text-align: center !important;
            font-weight: global.$bold;
            letter-spacing: 2.8pt;
        }

        h1 {
            span {
                display: block;
                background-color: rebeccapurple;
                margin-left: 12vw !important;
                margin-bottom: 0 !important;
                text-align: end !important;
                font-size: var(--large);
                font-weight: global.$bold;
                @include util.textshadow;
                margin-bottom: var(--large-margin);
            }
        }

        blockquote {
            font-size: var(--tiny);
            font-weight: global.$thick;
            background-color: rgba(global.$primary-color, .4);
            margin-bottom: 0;
            margin-left: 50vw !important;
            padding-right: var(--padding-tiny);
            width: 26% !important;
            border-top-left-radius: .4em !important;
            border-top-right-radius: .4em !important;
            @include util.boxshadow;

            .openning-quote {
                content: "\201C";
            }

            .closing-quote {
                content: "\201D";
            }

            * {
                font-size: var(--medium);
                font-weight: global.$bold;
            }
        }

        cite {
            font-weight: 100;
            background-color: rgba(global.$primary-color, .4);
            padding-bottom: var(--padding-medium);
            padding-right: var(--padding-small);
            margin-left: 50vw !important;
            width: 26% !important;
            border-bottom-left-radius: .4em !important;
            border-bottom-right-radius: .4em !important;
            @include util.boxshadow;
        }
    }
}