@use '../utils/' as util;
@use '../global/' as global;

.homepage{
    background-image: linear-gradient(to bottom, #00140ada, #000b2bd4),url('../images/pexels-pixabay-210600(small).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    
    *{
        width: 80%;
        margin-inline: 0 !important;
        margin-bottom: var(--small-mergin);
        line-height: 1.5;
        letter-spacing: 1.2;
        text-align: end;
    }
    h1{
        font-size: var(--large);
        font-weight: global.$bold;
        @include util.textshadow;
        margin-bottom: var(--large-margin);
    }
    .center {
        @include util.elementcenter(44%, var(--medium));
        text-align: center;
        background-color: global.$button-primary-color;
        text-decoration: none;
        font-weight: global.$bold;
        padding-top: var(--padding-tiny);
        padding-bottom: var(--padding-tiny);
        margin-top: var(--medium-margin);
        border-radius: .4rem;
        box-shadow: .1rem .1rem .2rem .4rem rgba(0, 17, 34, 0.322);
    }
    @include util.breakpoints(large){
        *{
            text-align: end;
        }
        h1{
            font-size: var(--large);
            font-weight: global.$bold;
            @include util.textshadow;
            margin-bottom: var(--large-margin);
        }
        blockquote{
            font-size: var(--tiny);
            font-weight: global.$normal;
        }
    }
}