@use '../utils/' as util;
@use '../global/' as global;
.homepage{
    background-image: linear-gradient(to bottom, #00140ada, #000b2bd4),url('../images/pexels-pixabay-210600(small).png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    *{
        width: 80%;
        margin-inline: 0 !important;
        margin-bottom: var(--small-mergin);
        line-height: 1.5;
        letter-spacing: 1.2;
        text-align: end;
    }
    @include util.breakpoints(large){
        h1{
            font-size: var(--large);
            font-weight: global.$bold;
            
        }
    }
}